---
import CSS from './navBar.module.css';
---

<div className={CSS.navLinksContainer}>
    <ul>
        <li className={CSS.navList}><a className={CSS.navLink} href="">about</a></li>
        <li className={CSS.navList}><a className={CSS.navLink} href="">projects</a></li>
        <li className={CSS.navList}><a className={CSS.navLink} href="">contact</a></li>
    </ul>
</div>